{
    "env": {
        "browser": true,
        "node": true,
        "mocha": true,
        "jquery": true
    },
    "globals": {
        "angular": false,
        "inject": false,
        "bard": false,
        "expect": false,
        "sinon": false
    },
    "rules": {
        "no-bitwise": "error",
        "camelcase": ["error", { "properties": "never" }],
        "curly": ["error", "all"],
        "eqeqeq": ["error", "smart"],
        "guard-for-in": "error",
        "no-extend-native": "error",
        "wrap-iife": "error",
        "indent": ["error", 4, { "SwitchCase": 1 }],
        "no-use-before-define": ["error", { "functions": false }],
        "new-cap": "error",
        "no-caller": "error",
        "no-empty": "error",
        "no-irregular-whitespace": "error",
        "no-new": "error",
        "no-plusplus": "off",
        "quotes": ["error", "double"],
        "no-undef": "error",
        "no-unused-vars": "off",
        "strict": "off",
        "max-params": ["error", 10],
        "max-depth": ["error", 5],
        "max-statements": ["error", 40],
        "complexity": ["error", 8],
        "max-len": ["error", 140],
        "semi": "off",
        "no-cond-assign": "off",
        "no-debugger": "off",
        "no-eval": "off",
        "no-unused-expressions": "off",
        "block-scoped-var": "off",
        "no-iterator": "off",
        "linebreak-style": "off",
        "comma-style": ["error"],
        "no-loop-func": "error",
        "no-multi-str": "off",
        "valid-typeof": "off",
        "no-proto": "off",
        "no-script-url": "off",
        "no-shadow": "error",
        "dot-notation": "off",
        "no-new-func": "off",
        "no-new-wrappers": "off",
        "no-invalid-this": "off",
        "require-yield": "off",
        "operator-linebreak": ["error", "after"],
        "no-mixed-spaces-and-tabs": "error",
        "no-trailing-spaces": "error",
        "space-unary-ops": ["error", { "nonwords": false, "overrides": {} }],
        "keyword-spacing": ["error", {}],
        "space-infix-ops": "error",
        "space-before-blocks": ["error", "always"],
        "eol-last": "error",
        "array-bracket-spacing": ["error", "never", { "singleValue": true }],
        "space-in-parens": ["error", "never"],
        "no-multiple-empty-lines": "error"
    }
}
